<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ClassGuid" value="{4d36e96f-e325-11ce-bfc1-08002be10318}"/>
	<add key="InstancePath" value="HID\VID_0000&amp;PID_3825\7&amp;1000E57E&amp;0&amp;0000"/>
	 <add key="conn" value="server=192.168.1.183;database=;user id=sa;password=;"/>
	<add key="ClassGuidK" value=""/>
    <add key="InstancePathK" value=""/>
    <add key="Resolution" value="1366x768"/>
    <add key="PosX" value="915"/>
    <add key="PosY" value="45"/>
	<add key="FilePath" value="D:\SPD"/>
	  <add key="FilePath1" value="D:\SerialGeneration Macrofile\SPD Report"/>
	  <add key="App_Ver" value="1.0.0"/>
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
<!--Please Note: ****************************************** READ ME / HELP / INSTRUCTION **********************************************************
- ClassGuid represents mouse's classGuid i.e. {4d36e96f-e325-11ce-bfc1-08002be10318}
- Add Instance Path and replace all the AND (&) symbols with "&amp;" (all chars inside the double quote) i.e. HID\VID_093A&PID_2510\7&10F0671&0&0000 as HID\VID_093A&amp;PID_2510\7&amp;10F0671&amp;0&amp;0000
- Two device can be locked by ClassGuid, ClassGuidK and InstancePath, InstancePathK (i.e. Mouse; Keyboard attached to the Computer)
- Mostly KeyBoards cannot be locked. Incase of 'Cannot be disabled' errors don't use keyboard Guid/InstancePath rather put empty string ""
- App only suppors 1366x768 100% and 1024x768 100% Resolutions. (use small x between numbers)
- PosX represent X position of the window location
- PosY represents Y position of the window location
- If window not visible try decreasing PosX and PosY values
- Changing Mouse or using different device ClassGuid/Instance path will lead to error
- Always open application in Administrator mode
- PosX,PosY for 1024x768 100% = 700,45
- PosX,PosY for 1366x768 100% = 1035,45
- Default Setting:
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>
		<add key="ClassGuid" value="{4d36e96f-e325-11ce-bfc1-08002be10318}"/>
		<add key="InstancePath" value="HID\VID_2188&amp;PID_0AE1\6&amp;1DF9A71F&amp;0&amp;0000"/>
		<add key="ClassGuidK" value=""/>
		<add key="InstancePathK" value=""/>
		<add key="Resolution" value="1024x768"/>
		<add key="PosX" value="700"/>
		<add key="PosY" value="45"/>

	</appSettings>
</configuration>
-->
<!--OO-->
<!--v-->
